{% load static %}
<!-- Top Toolbar -->
<div class="toolbar">
    <div class="uou-block-1a blog">
        <div class="container">
            <div class="search"><a href="#" class="toggle fa fa-search"></a>
                <form action="#">
                    <input type="text" class="search-input" placeholder="Search ..."
                           style="background-color: #E0E0E0; color: #5D5D5D">
                    <input type="submit" value="">
                </form>
            </div>
            <ul class="social">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>
            <ul class="authentication">

                {% if request.user.is_anonymous %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% else %}
                <li><a class="btn mb20 btn-small btn-primary" href="{% url 'devenirPartenaire' %}">Devenir partenaire</a></li>
                <li><label>Hello, {{ request.user }}.</label></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}

            </ul>
            <div class="language"><a href="#" class="toggle"><img src="{% static 'images/flags/32/US.png' %}" alt="">ENG</a>
                <ul>
                    <li><a href="#"><img src="{% static 'images/flags/32/PT.png' %}" alt=""> PT</a></li>
                    <li><a href="#"><img src="{% static 'images/flags/32/FR.png' %}" alt=""> FR</a></li>
                    <li><a href="#"><img src="{% static 'images/flags/32/ES.png' %}" alt=""> ES</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end .uou-block-1a -->
</div>
<!-- end toolbar -->
<!-- underheader -->
<div class="box-shadow-for-ui">
    <div class="uou-block-2b">
        <div class="container">
            <a href="{% url 'home' %}" class="logo"><img src="{% static 'images/logo-enea.png' %}" alt=""></a>
            <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
            <nav class="nav">
                <ul class="sf-menu">
                    <li><a href="{% url 'home' %}"><i class="fa  fa-home"></i></a></li>
                    <li><a href="{% url 'proList' %}">Projets</a></li>
                    <li><a href="{% url 'home' %}">Pages</a>
                        <ul>
                            <li><a href="{% url 'profileCompanyPage' %}">Profile Company</a></li>
                            <li><a href="{% url 'profileCompanyPageNoTabs' %}">Profile Company No Tabs</a></li>
                            <li><a href="{% url 'networkPage' %}">User Dashboard 1</a></li>
                            <li><a href="{% url 'networkHotkeysPage' %}">User Dashboard 2</a></li>
                            <li><a href="{% url 'networkFollowersPage' %}">User Dashboard 3</a></li>
                            <li><a href="{% url 'networkFollowingPage' %}">User Dashboard 4</a></li>
                            <li><a href="{% url 'blogPost' %}">Blog Post</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'userProfile1' %}">User Profile</a></li>
                    <li><a href="{% url 'blogPage' %}">Blog</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'myJackpot' %}">Cagnotte personnelle</a></li>
                    <li><a href="#">Transfert d'argent</a></li>
                    <li><a href="{% url 'accueilBoutique' %}">Boutique</a></li>
                    {% endif %}
                    <li><a href="{% url 'guiKit' %}">GUI KIT</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- end .uou-block-2b -->
</div>