<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/head.html' %}
</head>
<body>
<div id="main-wrapper">
    {% include 'base/header.html' %}

    <!-- HOME PRO-->
    <div class="home-pro">

        <!-- PRO BANNER HEAD -->
        <div class="banr-head">
            <div class="container">
                <div class="row">

                    <!-- FORM SECTION -->
                    <div class="col-sm-5">
                        <div class="login-sec">

                            <!-- TABS -->
                            <div class="uou-tabs">
                                <ul class="tabs">
                                    <li class="active">
                                        <a href="#">Register Now</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}">Member Login</a>
                                    </li>
                                </ul>

                                <!-- REGISTER -->
                                <div class="content">
                                    <div id="register" class="active">
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            {% for champ in form %}

                                            {{champ.label}}
                                            {{champ}}
                                            {{champ.errors}}
                                            {% endfor %}

                                            <select required aria-label="select example" name="role">
                                                <option value="">Choisissez votre catégorie</option>
                                                <option value="Entrepreneurs">Entrepreneurs</option>
                                                <option value="Porteurs de Projets">Porteurs de Projets</option>
                                                <option value="Responsables Associatifs">Responsables Associatifs</option>
                                                <option value="Leaders d'Opinions">Leaders d'Opinions</option>
                                                <option value="Chercheurs d'Emplois">Chercheurs d'Emplois</option>
                                                <option value="Professionnels tous Secteurs">Professionnels tous Secteurs</option>
                                            </select>
                                            <button type="submit">Register</button>
                                            <div class="login-with">
                                                <span>Or login with:</span>
                                                <a href="#."><i class="fa fa-facebook"></i></a>
                                                <a href="#."><i class="fa fa-google"></i></a>
                                                <a href="#."><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'base/footer.html' %}
{% include 'base/scripts.html' %}

</body>
</html>