{% extends 'main.html' %}

{% block contenu %}

<h1>Inscription</h1>

<form method="POST" action="" class="was-validated">
    {% csrf_token %}
    {% for champ in form %}

    {{ champ.label }}
    {{ champ }}
    {{ champ.errors }}

    </br>
    {% endfor %}
    <label>Role</label>
    <select required aria-label="select example" name="role">
        <option value="">Choisissez votre rôle</option>
            <option value="Entreprise">Entreprise</option>
            <option value="Investisseur">Investisseur</option>
            <option value="Posteur de Projet">Posteur de Projet</option>
            <option value="Auto-entrepreneur">Auto-entrepreneur</option>
    </select>
    </br>
    <input type="submit" value="Confirmer">
    <p>Déjà un compte ? <a href="{% url 'acces' %}">Se connecter</a></p>

</form>

{% endblock %}