{% extends 'main.html' %}

{% block contenu %}

<br>
<div class="row">
	<div class="col-md-10">
		<h5>Clients:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Créer Un Client</a>
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Telephone</th>
				</tr>
				{% for client in clients %}
				<tr>
					<th>{{client.id}}</th>
					<th>{{client.nom}}</th>
					<th>{{client.prenom}}</th>
					<th>{{client.phone}}</th>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>


</div>
{% endblock %}
