{% extends 'main.html' %}
{% block contenu %}
<!--Sub Banner-->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>So'ko Shop</h2>
        </div>
    </div>
</div>

<!--search-->
<div class="search-pro">
    <div class="map-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="map-search-fields">
                        <div class="field">
                            <input type="text" placeholder="Entrez des mots-clés">
                        </div>
                        <div class="field custom-select-box">
                            <select required aria-label="select example" name="categorie">
                                <option value="">Sélectionner une catégorie</option>
                                <option value="Accessoires">Accessoires</option>
                                <option value="Alimentation extérieur">Alimentation extérieur</option>
                                <option value="Beauté">Beauté</option>
                                <option value="Évènementiel">Évènementiel</option>
                                <option value="Livraison">Livraison</option>
                                <option value="Loisir">Loisir</option>
                                <optgroup label="Maison">
                                    <option value="">Art de la table</option>
                                    <option value="">bricolage</option>
                                    <option value="">Déco</option>
                                    <option value="">Electroménager</option>
                                    <option value="">Jardinage</option>
                                    <option value="">Linge de maison</option>
                                </optgroup>
                                <option value="Offre de service">Offre de service</option>
                                <optgroup label="Véhicules">
                                    <option value="">Voitures</option>
                                    <option value="">Pièces</option>
                                </optgroup>
                                <option value="Restauration">Restauration</option>
                                <option value="Sante & bien être">Sante & bien être</option>
                                <optgroup label="Mode">
                                    <optgroup label="Chaussures">
                                        <option value="">Femme</option>
                                        <option value="">Homme</option>
                                    </optgroup>
                                    <optgroup label="Vêtement">
                                        <option value="">Enfant</option>
                                        <option value="">Femme</option>
                                        <option value="">Homme</option>
                                    </optgroup>
                                </optgroup>
                            </select>
                        </div>
                        <div class="field custom-select-box">
                            <select required aria-label="select example" name="location">
                                <option value="">Sélectionner une localisation</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                            </select>
                        </div>
                    </div>
                    <div class="search-button">
                        <button>Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Big product-->
<div class="profile-company-content main-user">
    <div class="container">
        <div class="sidebar">
            <div class="col-sm-6">
                <img src="../static/images/pro-img-1-inclined.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <h3>Product XXX</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime,
                    excepturi, mollitia, voluptatibus
                    similique aliquidautem laudantium sapiente ad enim ipsa modi labo rum
                    accusantium deleniti neque.
                </p>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>$XX</h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn mb20 btn-small btn-primary" style="margin-top: 12%; margin-left: 22%">Ajouter
                            au panier</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar">
                        <h5 style="text-align: center">$XXX</h5>
                        <p style="text-align: center">VALUE</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar">
                        <h5 style="text-align: center">XX%</h5>
                        <p style="text-align: center">CASH BACK</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="sidebar">
                        <h5 style="text-align: center">$XXX</h5>
                        <p style="text-align: center">SAVINGS</p>
                    </div>
                </div>
                <div class="sidebar">
                    <p style="text-align: center"><strong>HURRY UP TIME LEFT</strong></p>
                    <div class="row">
                        <p style="text-align: center; font-size: 25px; color: black">
                            <label style="font-size: 15px">(time icon) </label><strong style="font-size: 35px">
                            X </strong>d.
                            <strong style="font-size: 35px">X </strong>h. <strong style="font-size: 35px">X </strong>m.
                            <strong style="font-size: 35px">X </strong>s.
                        </p>
                    </div>
                    <div class="uou-block-6a">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="demo-section">
        <div class="container mb30">
            <div class="sidebar">
                <div class="col-sm-3">
                    <div class="col-sm-3">
                        <i class="fa fa-suitcase" style="margin-top: 100%"></i>
                    </div>
                    <div class="col-sm-8">
                        <h6>FIND YOUR DEAL</h6>
                        <p>Find perfect offer</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-3">
                        <i class="fa fa-rocket" style="margin-top: 100%"></i>
                    </div>
                    <div class="col-sm-8">
                        <h6>BUY DEAL</h6>
                        <p>Buy or save your deal</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-3">
                        <i class="fa fa-university" style="margin-top: 100%"></i>
                    </div>
                    <div class="col-sm-8">
                        <h6>UP TO 80% DISCOUNT</h6>
                        <p>Save hundreds of dollars</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="col-sm-3">
                            <i class="fa fa-paper-plane-o" style="margin-top: 100%"></i>
                        </div>
                        <div class="col-sm-8">
                            <h6>FIVE STAR SUPPORT</h6>
                            <p>+1 234 567 890</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container mb30">
        <div class="col-md-8">
            <div class="sidebar">
                <h5>OFFRES SPECIALES</h5>
                <div class="col-sm-6">
                    <div class="sidebar">
                        <img src="../static/images/company-thumb.jpg">
                        <h6 style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
                        <div class="col-md-4">
                            <p style="font-size: 30px; color: black"><strong>X%</strong></p>
                        </div>
                        <div class="col-md-4">
                            <p style="text-decoration: line-through; text-align: center">$ XXX</p>
                        </div>
                        <div class="col-md-4">
                            <p style="text-align: right">$ <strong style="font-size: 20px"> XXX</strong></p>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p style="font-size: 12px; color: black">
                                <label style="font-size: 8px">(time icon) </label><strong> X </strong>d.
                                <strong>X </strong>h. <strong>X </strong>m. <strong>X </strong>s.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="btn mb20 btn-small btn-primary">Add</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sidebar">
                        <img src="../static/images/company-thumb.jpg">
                        <h6 style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
                        <div class="col-md-4">
                            <p style="font-size: 30px; color: black"><strong>X%</strong></p>
                        </div>
                        <div class="col-md-4">
                            <p style="text-decoration: line-through; text-align: center">$ XXX</p>
                        </div>
                        <div class="col-md-4">
                            <p style="text-align: right">$ <strong style="font-size: 20px"> XXX</strong></p>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p style="font-size: 12px; color: black">
                                <label style="font-size: 8px">(time icon) </label><strong> X </strong>d.
                                <strong>X </strong>h. <strong>X </strong>m. <strong>X </strong>s.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <a href="" class="btn mb20 btn-small btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <h5>PUBLICITE</h5>
                <img src="../static/images/app-img.png">
                <br>
                <br>
                <h5>SUBSCRIBE</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}
