{% extends 'main.html' %}
{% block contenu %}
<!--Sub Banner-->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <div class="col-md-10">
                <h2><a href="{% url 'accueilBoutique' %}" style="color: white">So'ko Shop</a></h2>
            </div>
            <div class="col-md-2">
                <a href="{% url 'cartPage' %}" class="btn mb20 btn-large btn-transparent-primary" style="margin-bottom: 10%">Panier</a>
            </div>
        </div>
    </div>
</div>

<!--search-->
<div class="search-pro">
    <div class="map-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="map-search-fields">
                        <div class="field">
                            <input type="text" placeholder="Entrez des mots-clés">
                        </div>
                        <div class="field custom-select-box">
                            <select required aria-label="select example" name="categorie">
                                <option value="">Sélectionner une catégorie</option>
                                <option value="Accessoires">Accessoires</option>
                                <option value="Alimentation extérieur">Alimentation extérieur</option>
                                <option value="Beauté">Beauté</option>
                                <option value="Évènementiel">Évènementiel</option>
                                <option value="Livraison">Livraison</option>
                                <option value="Loisir">Loisir</option>
                                <optgroup label="Maison">
                                    <option value="">Art de la table</option>
                                    <option value="">bricolage</option>
                                    <option value="">Déco</option>
                                    <option value="">Electroménager</option>
                                    <option value="">Jardinage</option>
                                    <option value="">Linge de maison</option>
                                </optgroup>
                                <option value="Offre de service">Offre de service</option>
                                <optgroup label="Véhicules">
                                    <option value="">Voitures</option>
                                    <option value="">Pièces</option>
                                </optgroup>
                                <option value="Restauration">Restauration</option>
                                <option value="Sante & bien être">Sante & bien être</option>
                                <optgroup label="Mode">
                                    <optgroup label="Chaussures">
                                        <option value="">Femme</option>
                                        <option value="">Homme</option>
                                    </optgroup>
                                    <optgroup label="Vêtement">
                                        <option value="">Enfant</option>
                                        <option value="">Femme</option>
                                        <option value="">Homme</option>
                                    </optgroup>
                                </optgroup>
                            </select>
                        </div>
                        <div class="field custom-select-box">
                            <select required aria-label="select example" name="location">
                                <option value="">Sélectionner une localisation</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                                <option value="">Pays</option>
                            </select>
                        </div>
                    </div>
                    <div class="search-button">
                        <button>Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-company-content main-user">
    <div class="container mb30">
        <div class="col-md-8">
            <div class="sidebar">
                <h5 style="text-decoration: overline #008fef">OFFRES SPECIALES</h5>
                {% for produit in produits %}
                <div class="col-sm-6">
                    <div class="sidebar">
                        <img src="../static/images/company-thumb.jpg">
                        <h6 style=""><a href="{% url 'productDetail' produit.id %}" style="color: black">{{ produit.nom }}</a></h6>
                        <div class="col-md-4">
                            <p style="font-size: 30px; color: black"><strong>-X%</strong></p>
                        </div>
                        <div class="col-md-4">
                            <p style="text-decoration: line-through; text-align: center">$ XXX</p>
                        </div>
                        <div class="col-md-4">
                            <p style="text-align: right">$ <strong style="font-size: 20px">{{ produit.prix }}</strong></p>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                {{ produit.veryShortDesc }}
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p style="font-size: 12px; color: black">
                                <label style="font-size: 8px">(time icon) </label><strong> X </strong>d.
                                <strong>X </strong>h. <strong>X </strong>m. <strong>X </strong>s.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'addToCart' produit.id 1 %}" class="btn mb20 btn-small btn-primary">Add</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <h5 style="text-decoration: overline #008fef">OFFRES POPULAIRES</h5>
                {% for produit in produits %}
                <div class="col-sm-6">
                    <div class="sidebar">
                        <img src="../static/images/company-thumb.jpg">
                        <h6 style=""><a href="{% url 'productDetail' produit.id %}" style="color: black">{{ produit.nom }}</a></h6>
                        <div class="col-md-4">
                            <p style="font-size: 30px; color: black"><strong>-X%</strong></p>
                        </div>
                        <div class="col-md-4">
                            <p style="text-decoration: line-through; text-align: center">$ XXX</p>
                        </div>
                        <div class="col-md-4">
                            <p style="text-align: right">$ <strong style="font-size: 20px">{{ produit.prix }}</strong></p>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                {{ produit.veryShortDesc }}
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p style="font-size: 12px; color: black">
                                <label style="font-size: 8px">(time icon) </label><strong> X </strong>d.
                                <strong>X </strong>h. <strong>X </strong>m. <strong>X </strong>s.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'addToCart' produit.id 1 %}" class="btn mb20 btn-small btn-primary">Add</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--Right side-->
        <div class="col-md-4">
            <div class="sidebar">
                <h5 style="text-decoration: overline #008fef">PUBLICITE</h5>
                <img src="../static/images/app-img.png">
                <br>
                <br>
                <h5 style="text-decoration: overline #008fef">SUBSCRIBE</h5>
                <h4>Être à jour (c'est gratuit)</h4>
                <p>Abonnez vous à notre bulletin d'information pour une bonne nouvelle, envoyée tous les mois</p>
                <div class="col-md-8">
                    <input type="email" placeholder="Email">
                </div>
                <div class="col-md-4">
                    <a class="btn mb20 btn-small btn-primary">Souscrire</a>
                </div>
                <br><br><br>
                <h5 style="text-decoration: overline #008fef">CATEGORIES</h5>
                <div class="sidebar-information">
                    <div class="profile-usermenu">
                        <ul class="nav nav-links">
                            <li><a href="#"><i class="fa fa-cutlery"></i> Alimentation</a></li>
                            <li><a href="#"><i class="fa fa-microphone"></i> Accessoires</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Beauté</a></li>
                            <li><a href="#"><i class="fa fa-suitcase"></i> Evènementiel</a></li>
                            <li><a href="#"><i class="fa fa-paw"></i> Extérieur</a></li>
                            <li><a href="#"><i class="fa fa-rocket"></i> Livraison</a></li>
                            <li><a href="#"><i class="fa fa-ticket"></i> Loisir</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> Offre de service</a></li>
                            <li><a href="#"><i class="fa fa-beer"></i> Restauration</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Santé et bien-être</a></li>
                        </ul>
                        <ul class="uou-accordions">
                            <li class>
                                <a href="#"><i class="fa fa-university"></i>Maison</a>
                                <div style="display: none;">
                                    <ul>
                                        <li><a href="#">Déco</a></li>
                                        <li><a href="#">Electroménager</a></li>
                                        <li><a href="#">Art de la table</a></li>
                                        <li><a href="#">Linge de maison</a></li>
                                        <li><a href="#">Bricolage</a></li>
                                        <li><a href="#">Jardinage</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-paw"></i> Mode</a>
                                <div style="display:none">
                                    <ul class="uou-accordions">
                                        <li class>
                                            <a href="#">Vêtements</a>
                                            <div style="display:none">
                                                <ul>
                                                    <li><a href="#">Femme</a></li>
                                                    <li><a href="#">Homme</a></li>
                                                    <li><a href="#">Enfant</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class>
                                            <a href="#">Chaussures</a>
                                            <div style="display:none">
                                                <ul>
                                                    <li><a href="#">Femme</a></li>
                                                    <li><a href="#">Homme</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class>
                                <a href="#"><i class="fa fa-rocket"></i> Voiture</a>
                                <div style="display: none;">
                                    <ul>
                                        <li><a href="#">Voitures</a></li>
                                        <li><a href="#">Pièces</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <h5 style="text-decoration: overline #008fef">TAGS</h5>
                <br>
                <h5 style="text-decoration: overline #008fef">Meilleurs Classements</h5>
                <div class="col-mb 10">
                    <div class="col-md-4">
                        <img src="../static/img/blog-image-4.jpg">
                    </div>
                    <div class="col-md-8">
                        <a href="#"><strong style="color: black; font-size: 14px">Lorem ipsum dolor sit amet,
                            elit.</strong></a>
                        <span class="col-xs-10">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                        <div class="col-md-5">
                            <p style="text-decoration: line-through">$ XXX</p>
                        </div>
                        <div class="col-md-6">
                            <p style="text-align: right">$ <strong style="font-size: 20px"> XXX</strong></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../static/img/blog-image-4.jpg">
                    </div>
                    <div class="col-md-8">
                        <a href="#"><strong style="color: black; font-size: 14px">Lorem ipsum dolor sit amet,
                            elit.</strong></a>
                        <span class="col-xs-10">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                        <div class="col-md-5">
                            <p style="text-decoration: line-through">$ XXX</p>
                        </div>
                        <div class="col-md-6">
                            <p style="text-align: right">$ <strong style="font-size: 20px"> XXX</strong></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../static/img/blog-image-4.jpg">
                    </div>
                    <div class="col-md-8">
                        <a href="#"><strong style="color: black; font-size: 14px">Lorem ipsum dolor sit amet,
                            elit.</strong></a>
                        <span class="col-xs-10">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                        <div class="col-md-5">
                            <p style="text-decoration: line-through">$ XXX</p>
                        </div>
                        <div class="col-md-6">
                            <p style="text-align: right">$ <strong style="font-size: 20px"> XXX</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
