{% extends 'main.html' %}
{% block contenu %}
{% load static %}
<!--Sub Banner-->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <div class="col-md-10">
                <h2><a href="{% url 'accueilBoutique' %}" style="color: white">So'ko Shop</a></h2>
            </div>
        </div>
    </div>
</div>
<h1>Mon panier</h1>
<table>
    <thead>
    <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantité</th>
    </tr>
    </thead>
    <tbody>
        {% for cart_line in cart %}
        <tr>
            <td>cart_line.product.nom</td>
            <td>cart_line.product.prix</td>
            <td>cart_line.quantity</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}