{% extends 'main.html' %}
{% block contenu %}
<script>
    fetch("/boutique/create-order/")
    .then((result) => { return result.json(); });

    fetch("/boutique/clear-cart/")
    .then((result) => { return result.json(); })
</script>
<!--Sub Banner-->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <div class="col-md-10">
                <h2><a href="{% url 'accueilBoutique' %}" style="color: white">So'ko Shop</a></h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4>
        Paiement effectué !
        <a href="{% url 'accueilBoutique' %}">Retourner à la boutique</a>
    </h4>

</div>

{% endblock %}

