{% extends 'main.html' %}

{% block contenu %}
<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>Rechercher projets</h2>
        </div>
    </div>
</div>

<!-- search -->
<div class="search-pro">
    <div class="map-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="map-toggleButton"><i class="fa fa-bars"></i></div>
                    <div class="map-search-fields">
                        <div class="field">
                            <input type="text" placeholder="Keyword">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Location">
                        </div>
                        <div class="field custom-select-box">
                            <input type="text" placeholder="Pays">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Secteur d'activité">
                        </div>
                    </div>
                    <div class="search-button">
                        <button>Rechercher projets</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Members -->
<section class="pro-mem">
    <div class="container pb30">
        <h3>Projets</h3>
        <div class="row">
            <div class="col-sm-3">
                <a href="{% url 'profileCompanyPage' %}">
                    <div class="uou-block-6a"><img src="static/images/member-1.png" alt="">
                        <h6>XXXX Projet<span>Founder Mr Jhonson xxx</span></h6>
                        <p style="color: #8c8c8c"><i class="fa fa-map-marker"></i>Joahannesbourg</p>
                        {% if request.user.is_authenticated %}
                        <h6><span>X€ investis</span></h6>
                        {% endif %}
                    </div>
                </a>
                <!-- end .uou-block-6a -->
            </div>
            <div class="col-sm-3">
                <a href="{% url 'profileCompanyPage' %}">
                    <div class="uou-block-6a"><img src="static/images/member-2.png" alt="">
                        <h6>XXXX Projet<span>Founder Mr Jhonson xxx</span></h6>
                        <p style="color: #8c8c8c"><i class="fa fa-map-marker"></i>Joahannesbourg</p>
                        {% if request.user.is_authenticated %}
                        <h6><span>X€ investis</span></h6>
                        {% endif %}
                    </div>
                </a>
                <!-- end .uou-block-6a -->
            </div>
            <div class="col-sm-3">
                <a href="{% url 'profileCompanyPage' %}">
                    <div class="uou-block-6a"><img src="static/images/member-2.png" alt="">
                        <h6>XXXX Projet<span>Founder Mr Jhonson xxx</span></h6>
                        <p style="color: #8c8c8c"><i class="fa fa-map-marker"></i>Joahannesbourg</p>
                        {% if request.user.is_authenticated %}
                        <h6><span>X€ investis</span></h6>
                        {% endif %}
                    </div>
                </a>
                <!-- end .uou-block-6a -->
            </div>
            <div class="col-sm-3">
                <a href="{% url 'profileCompanyPage' %}">
                    <div class="uou-block-6a"><img src="static/images/member-3.png" alt="">
                        <h6>XXXX Projet<span>Founder Mr Jhonson xxx</span></h6>
                        <p style="color: #8c8c8c"><i class="fa fa-map-marker"></i>Joahannesbourg</p>
                        {% if request.user.is_authenticated %}
                        <h6><span>X€ investis</span></h6>
                        {% endif %}
                    </div>
                </a>
                <!-- end .uou-block-6a -->
            </div>
            <div class="col-sm-3">
                <a href="{% url 'profileCompanyPage' %}">
                    <div class="uou-block-6a"><img src="static/images/member-1.png" alt="">
                        <h6>XXXX Projet<span>Founder Mr Jhonson xxx</span></h6>
                        <p style="color: #8c8c8c"><i class="fa fa-map-marker"></i>Joahannesbourg</p>
                        {% if request.user.is_authenticated %}
                        <h6><span>X€ investis</span></h6>
                        {% endif %}
                    </div>
                </a>
                <!-- end .uou-block-6a -->
            </div>
            <div class="col-sm-3">
                <a href="{% url 'profileCompanyPage' %}">
                    <div class="uou-block-6a"><img src="static/images/member-1.png" alt="">
                        <h6>XXXX Projet<span>Founder Mr Jhonson xxx</span></h6>
                        <p style="color: #8c8c8c"><i class="fa fa-map-marker"></i>Joahannesbourg</p>
                        {% if request.user.is_authenticated %}
                        <h6><span>X€ investis</span></h6>
                        {% endif %}
                    </div>
                </a>
                <!-- end .uou-block-6a -->
            </div>
            <div class="col-sm-3">
                <a href="{% url 'profileCompanyPage' %}">
                    <div class="uou-block-6a"><img src="static/images/member-2.png" alt="">
                        <h6>XXXX Projet<span>Founder Mr Jhonson xxx</span></h6>
                        <p style="color: #8c8c8c"><i class="fa fa-map-marker"></i>Joahannesbourg</p>
                        {% if request.user.is_authenticated %}
                        <h6><span>X€ investis</span></h6>
                        {% endif %}
                    </div>
                </a>
                <!-- end .uou-block-6a -->
            </div>
            <div class="col-sm-3">
                <a href="{% url 'profileCompanyPage' %}">
                    <div class="uou-block-6a"><img src="static/images/member-2.png" alt="">
                        <h6>XXXX Projet<span>Founder Mr Jhonson xxx</span></h6>
                        <p style="color: #8c8c8c"><i class="fa fa-map-marker"></i>Joahannesbourg</p>
                        {% if request.user.is_authenticated %}
                        <h6><span>X€ investis</span></h6>
                        {% endif %}
                    </div>
                </a>
                <!-- end .uou-block-6a -->
            </div>
        </div>
    </div>
</section>
{% endblock %}