<!--library chartjs-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<!---->
{% extends 'main.html' %}
{% block contenu %}
<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>My Jackpot</h2>
        </div>
    </div>
</div>
<!--Data-->
<script>
    var data = [90, 50, 30, 15, 25];
    var reducer = (accumulator, currentValue) => accumulator + currentValue;
    var total = data.reduce(reducer);



</script>

<div class="container">
    <h3 class="section-title" style="text-align: center">Ma cagnotte</h3>
    <div style="width: 70%; margin-left: 15%">
        <canvas id="myChart"></canvas>
    </div>
    <h5 style="text-align: center">
        Total cagnotte :
        <script>document.write(total)</script>
        €
    </h5>
    <br>
    <div class="container">
        <div class="row">
            <a href="{% url 'myProjects' %}" class="btn mb15 btn-small btn-primary">Participer à un projet</a>
            <a href="{% url 'crowfondingPage' %}" class="btn mb15 btn-small btn-primary">Projet Crowfoundé</a>
            <a href="#" class="btn mb15 btn-small btn-primary">NGC website</a>
            <a href="#" class="btn mb15 btn-small btn-primary">Effectuer un transfert</a>
            <a href="#" class="btn mb15 btn-small btn-primary">Régler une facture</a>
            <a href="{% url 'accueilBoutique' %}" class="btn mb15 btn-small btn-primary">Boutique</a>
        </div>
    </div>
</div>
<br>


<script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: [
                    'Portefeuille (€)',
                    'Fond d\'investissement (€)',
                    'Gains investis (€)',
                    'NGC (€)',
                    'CashBack (€)'
                ],
                datasets: [{
                    data: data,
                    backgroundColor: ['#6495ed', '#D14E4E', '#72E85A', '#C870FC', 'red'],
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                    labels: {
                        fontSize : 14
                    },
                },
                plugins: {
                    datalabels: {
                        color: 'black',
                        anchor: 'end',
                        align: 'start',
                        offset: -10,
                        borderWidth: 2,
                        borderRadius: 45,
                        borderColor: 'rgba(0,0,0,0.3)',
                        backgroundColor: (color) => {
                            return color.dataset.backgroundColor;
                        },
                        font: {
                            weight: 'bold',
                            size: '13'
                        },
                        formatter: (value) => {
                            return parseInt((value/total)*100) + '%'
                        }
                    }
                }
            }
        });



</script>


{% endblock %}
