<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% extends 'main.html' %}
{% block contenu %}
<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>My Jackpot</h2>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="section-title" style="text-align: center">Ma cagnotte</h3>
    <div style="width: 75%; margin-left: 12%">
        <canvas id="myChart"></canvas>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'myProjects' %}" class="btn mb15 btn-medium btn-primary">Participer à un projet</a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn mb15 btn-medium btn-primary">Projet Crowfoundé</a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn mb15 btn-medium btn-primary">NGC website</a>
        </div>
    </div>
</div>
<br>


<script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: [
                    'Ma cagnotte',
                    'Fond d\'investissement',
                    'Gains investis',
                    'NGC'
                ],
                datasets: [{
                    data: [90, 50, 30, 15],
                    backgroundColor: ['#6495ed', '#D14E4E', '#72E85A', '#C870FC']
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                plugins: {
                    datalabels: {
                        color: 'black',
                        anchor: 'end',
                        align: 'start',
                        offset: -10,
                        borderWidth: 2,
                        borderRadius: 25,
                        borderColor: 'rgba(0,0,0,0.3)',
                        backgroundColor: (color) => {
                            return color.dataset.backgroundColor;
                        },
                        font: {
                            weight: 'bold',
                            size: '13'
                        },
                        formatter: (value) => {
                            return value + ' €'
                        }
                    }
                }
            }
        });

</script>


{% endblock %}
