{% extends 'main.html' %}
{% block contenu %}
{% load static %}
<style>
    .page{
        display: none;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    .page-num{
        border: 1px solid #0099ff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 10px;
    }
    .active{
        color: white;
        background-color: #0099ff;
    }
</style>
<!--Sub Banner-->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <div class="col-md-10">
                <h2>Apporter un projet</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <header class="formHeader"></header>
    <form method="POST" action="">
        {% csrf_token %}
<!--        <div class="col-sm-6">-->
<!--            <h5>Contact</h5>-->
<!--            <div class="col-sm-3">  <label for="prenom">Prénom </label>             </div>-->
<!--            <div class="col-sm-9">  <input type="text" id="prenom" name="prenom">   </div>-->

<!--            <div class="col-sm-3">  <label for="nom">Nom </label>                   </div>-->
<!--            <div class="col-sm-9">  <input type="text" id="nom" name="nom">         </div>-->

<!--            <div class="col-sm-3">  <label for="email">Email </label>               </div>-->
<!--            <div class="col-sm-9">  <input type="email" id="email" name="email">    </div>-->

<!--            <div class="col-sm-3">  <label for="tel">Téléphone </label>             </div>-->
<!--            <div class="col-sm-9">  <input type="text" id="tel" name="tel">         </div>-->

<!--            <div class="col-sm-3">  <label for="siret">SIRET de la société </label> </div>-->
<!--            <div class="col-sm-9">  <input type="text" id="siret" name="siret">     </div>-->

<!--            <div class="col-sm-3">  <label for="fct">Fonction </label>              </div>-->
<!--            <div class="col-sm-9">  <input type="text" id="fct" name="fct">         </div>-->
<!--        </div>-->

<!--        <div class="col-sm-6">-->
<!--            <h5>Besoin</h5>-->
<!--            <div class="col-sm-4">  <label for="besoin">Typologie du besoin </label>        </div>-->
<!--            <div class="col-sm-8">-->
<!--                <select required aria-label="select example" id="besoin" name="besoin">-->
<!--                    <option value="">Choisir un secteur</option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="col-sm-4">  <label for="montant">Montant global recherché </label>  </div>-->
<!--            <div class="col-sm-8">  <input type="number" id="montant" name="montant">         </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12"></div>-->
<!--        <div class="col-sm-6">-->
<!--            <h5>Le projet</h5>-->
<!--            <div class="col-sm-3">  <label for="projectName">Nom du projet </label>         </div>-->
<!--            <div class="col-sm-9">  <input type="text" id="projectName" name="projectName"> </div>-->

<!--            <div class="col-sm-3">  <label for="projectDate">Date du besoin </label>        </div>-->
<!--            <div class="col-sm-9">  <input type="text" id="projectDate" name="projectDate"> </div>-->

<!--            <div class="col-sm-3">  <label for="descProj">Description du projet</label>     </div>-->
<!--            <div class="col-sm-9">  <textarea id="descProj" name="desc"></textarea>         </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <h5>Documents</h5>-->
<!--            <div class="col-sm-6">  <label for="societe">Présentation de la société</label> </div>-->
<!--            <div class="col-sm-6">  <input type="file" id="societe" name="societe">         </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <div class="col-sm-6">  <label for="bilan">Dernier bilan</label>                </div>-->
<!--            <div class="col-sm-6">  <input type="file" id="bilan" name="bilan">             </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <div class="col-sm-6">  <label for="example">Exemples de projets réussis</label></div>-->
<!--            <div class="col-sm-6">  <input type="file" id="example" name="example">         </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <div class="col-sm-6">  <label for="descOp">Description de l'opération</label>  </div>-->
<!--            <div class="col-sm-6">  <input type="file" id="descOp" name="descOp">           </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12">-->
<!--            <button class="btn mb20 btn-medium btn-primary" type="submit">OK</button>-->
<!--        </div>-->

        <style>input[type="text"]{color: black;}</style>

        <div class="page" id="etape1">
            <h2>Projet</h2>
            <div class="col-sm-12">
                <button style="margin-left: 91%" class="next btn mb20 btn-small btn-transparent-primary" type="button">Suivant</button>
            </div>
            <div class="col-sm-6">
                <h4>Présentation du projet *</h4>
                <div class="col-sm-3"><label for="projectName">Nom du projet </label></div>
                <div class="col-sm-9"><input required type="text" id="projectName" name="projectName"></div>

                <div class="col-sm-3"><label for="projectDate">Date du besoin </label></div>
                <div class="col-sm-9"><input required type="date" id="projectDate" name="projectDate"></div>

                <div class="col-sm-3"><label for="descProj">Description du projet</label></div>
                <div class="col-sm-9"><textarea required id="descProj" name="desc"></textarea></div>
            </div>

            <div class="col-sm-6">
                <h4>Présentation de l'équipe *</h4>
                <div class="col-sm-9"><label for="nbMembre">Nombre de membre </label></div>
                <div class="col-sm-3"><input required type="number" min="1" id="nbMembre" name="nbMembre"></div>
            </div>

            <div class="col-sm-6">
                <h4>Notre analyse *</h4>
                <textarea required name="presentationProjet"></textarea>
            </div>

            <div class="col-sm-6">
                <h4>Les étapes de developpement *</h4>
                <textarea required name="presentationProjet"></textarea>
            </div>

            <div class="col-sm-6">
                <h4>Stratégie de sortie envisageable *</h4>
                <textarea required name="presentationProjet"></textarea>
            </div>

            <div class="col-sm-6">
                <h4>Usage des fonds *</h4>
                <textarea required name="presentationProjet"></textarea>
            </div>
        </div>

        <div class="page" id="etape2">
            <h2>Détails</h2>
            <div class="col-sm-12">
                <button style="margin-left: 80%" class="prev btn mb20 btn-small btn-transparent-primary" type="button">Précédent</button>
                <button class="next btn mb20 btn-small btn-transparent-primary" type="button">Suivant</button>
            </div>
            <div class="col-sm-6">
                <h5>Contact *</h5>
                <div class="col-sm-3"><label for="prenom">Prénom </label></div>
                <div class="col-sm-9"><input required type="text" id="prenom" name="prenom"></div>

                <div class="col-sm-3"><label for="nom">Nom </label></div>
                <div class="col-sm-9"><input required type="text" id="nom" name="nom"></div>

                <div class="col-sm-3"><label for="email">Email </label></div>
                <div class="col-sm-9"><input required type="email" id="email" name="email"></div>

                <div class="col-sm-3"><label for="tel">Téléphone </label></div>
                <div class="col-sm-9"><input required type="text" id="tel" name="tel"></div>

                <div class="col-sm-3"><label for="siret">SIRET de la société </label></div>
                <div class="col-sm-9"><input required type="text" id="siret" name="siret"></div>

                <div class="col-sm-3"><label for="fct">Fonction </label></div>
                <div class="col-sm-9"><input required type="text" id="fct" name="fct"></div>
            </div>
            <div class="col-sm-6">
                <h5>Documents *</h5>
                <div class="col-sm-6"><label for="societe">Présentation de la société</label></div>
                <div class="col-sm-6"><input type="file" id="societe" name="societe"></div>
                <br>
                <br>
                <div class="col-sm-6"><label for="bilan">Dernier bilan</label></div>
                <div class="col-sm-6"><input type="file" id="bilan" name="bilan"></div>
                <br>
                <br>
                <div class="col-sm-6"><label for="example">Exemples de projets réussis</label></div>
                <div class="col-sm-6"><input type="file" id="example" name="example"></div>
                <br>
                <br>
                <div class="col-sm-6"><label for="descOp">Description de l'opération</label></div>
                <div class="col-sm-6"><input type="file" id="descOp" name="descOp"></div>
            </div>
        </div>

        <div class="page" id="etape3">
            <h2>News</h2>
            <div class="col-sm-12">
                <button style="margin-left: 80%" class="prev btn mb20 btn-small btn-transparent-primary" type="button">Précédent</button>
                <button class="next btn mb20 btn-small btn-transparent-primary" type="button">Suivant</button>
            </div>
            <div class="col-sm-12">
                <label for="news">News</label>
                <textarea name="news" id="news"></textarea>
            </div>
        </div>

        <div class="page" id="etape4">
            <h2>Questions</h2>
            <div class="col-sm-12">
                <button style="margin-left: 80%" class="prev btn mb20 btn-small btn-transparent-primary" type="button">Précédent</button>
                <button class="next btn mb20 btn-small btn-transparent-primary" type="button">Suivant</button>
            </div>
            <div class="col-sm-12">
                <label for="questions">Questions</label>
                <textarea name="questions" id="questions"></textarea>
            </div>
        </div>

        <div class="page" id="etape5">
            <h2>Témoignage</h2>
            <div class="col-sm-12">
                <button style="margin-left: 80%" class="prev btn mb20 btn-small btn-transparent-primary"  type="button">Précédent</button>
                <button class="btn mb20 btn-small btn-primary">Valider</button>
            </div>
            <div class="col-sm-12">
                <label for="temoignage">Témoignage</label>
                <textarea name="temoignage" id="temoignage"></textarea>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'js/script-project-form.js' %}"></script>

{% endblock %}