{% extends 'main.html' %}
{% block contenu %}

<!--Sub Banner-->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <div class="col-md-10">
                <h2>Charte</h2>
            </div>
        </div>
    </div>
</div>
<!--navbar-->
<div class="box-shadow-for-ui">
    <div class="uou-block-2b">
        <div class="container">
            <nav class="nav">
                <ul class="sf-menu">
                    {% if porteur == 1 %}
                    <li><a href="{% url 'devenirPartenaire' %}">Espace partenaire</a></li>
                    {% else %}
                    <li><a href="{% url 'devenirPartenaire' %}">Devenir partenaire</a></li>
                    {% endif %}
                    <li><a href="{% url 'chartePage' %}">Charte</a></li>
                    <li><a href="{% url 'commentInvestir' %}">Comment investir</a></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <h1 style="text-align: center">Charte d'engagement</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit!
        Assumenda, tempore, dolorum explicabo iusto molestiae numquam laudantium vero doloremque neque quod id
        temporibus nemo nam itaque ratione illo quaerat tempora fugiat porro nihil inventore aliquam deleniti atque
        quibusdam quidem eos ea quo eligendi ad labore consectetur nisi quas commodi et totam error possimus ut officiis
        recusandae praesentium ab ducimus.
    </p>
    <h2>1. </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit!
        Assumenda, tempore, dolorum explicabo iusto molestiae numquam laudantium vero doloremque neque quod id
        temporibus nemo nam itaque ratione illo quaerat tempora fugiat porro nihil inventore aliquam deleniti atque
        quibusdam quidem eos ea quo eligendi ad labore consectetur nisi quas commodi et totam error possimus ut officiis
        recusandae praesentium ab ducimus.
    </p>
    <h2>2. </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit!
        Assumenda, tempore, dolorum explicabo iusto molestiae numquam laudantium vero doloremque neque quod id
        temporibus nemo nam itaque ratione illo quaerat tempora fugiat porro nihil inventore aliquam deleniti atque
        quibusdam quidem eos ea quo eligendi ad labore consectetur nisi quas commodi et totam error possimus ut officiis
        recusandae praesentium ab ducimus.
    </p>
    <h2>3. </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit!
        Assumenda, tempore, dolorum explicabo iusto molestiae numquam laudantium vero doloremque neque quod id
        temporibus nemo nam itaque ratione illo quaerat tempora fugiat porro nihil inventore aliquam deleniti atque
        quibusdam quidem eos ea quo eligendi ad labore consectetur nisi quas commodi et totam error possimus ut officiis
        recusandae praesentium ab ducimus.
    </p>

</div>
{% endblock %}