{% extends 'main.html' %}
{% block contenu %}

<!--Sub Banner-->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <div class="col-md-10">
                <h2>Comment investir</h2>
            </div>
        </div>
    </div>
</div>
<!--navbar-->
<div class="box-shadow-for-ui">
    <div class="uou-block-2b">
        <div class="container">
            <nav class="nav">
                <ul class="sf-menu">
                    {% if porteur == 1 %}
                    <li><a href="{% url 'devenirPartenaire' %}">Espace partenaire</a></li>
                    {% else %}
                    <li><a href="{% url 'devenirPartenaire' %}">Devenir partenaire</a></li>
                    {% endif %}
                    <li><a href="{% url 'chartePage' %}">Charte</a></li>
                    <li><a href="{% url 'commentInvestir' %}">Comment investir</a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="">
    <h1 style="text-align: center">Conseils d'investissement</h1>
    <div class="row">
        <div class="col-sm-2" style="margin-left: 8%">
            <div class="uou-block-8d">
                <i class="fa fa-paper-plane-o"></i>
                <h5>Inscrivez-vous</h5>
                <p>Lorem ipsum dolor si amet</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="uou-block-8d">
                <i class="fa fa-paw"></i>
                <h5>Participez</h5>
                <p>Lorem ipsum dolor si amet</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="uou-block-8d">
                <i class="fa fa-university"></i>
                <h5>Investissez</h5>
                <p>Lorem ipsum dolor si amet</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="uou-block-8d">
                <i class="fa fa-ticket"></i>
                <h5>Suivez</h5>
                <p>Lorem ipsum dolor si amet</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="uou-block-8d">
                <i class="fa fa-rocket"></i>
                <h5>Récoltez</h5>
                <p>Lorem ipsum dolor si amet</p>
            </div>
        </div>

    </div>
    <div class="container">
        <h2>Investissez dans differents secteurs d'activités</h2>
        <div class="col-sm-2">
            <h6>Lorem ipsum</h6>
        </div>
        <div class="col-sm-2">
            <h6>Lorem ipsum</h6>
        </div>
        <div class="col-sm-2">
            <h6>Lorem ipsum</h6>
        </div>
        <div class="col-sm-2">
            <h6>Lorem ipsum</h6>
        </div>
        <div class="col-sm-2">
            <h6>Lorem ipsum</h6>
        </div>
        <div class="col-sm-2">
            <h6>Lorem ipsum</h6>
        </div>
        <br>
    </div>
    <div class="container">
        <h2>Personnalisez votre expérience investisseur</h2>
        <div class="col-sm-6">
            <h5>Lorem ipsum dolor si amet</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Maiores explicabo numquam accusamus voluptatibus odit!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Maiores explicabo numquam accusamus voluptatibus odit!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Maiores explicabo numquam accusamus voluptatibus odit!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Maiores explicabo numquam accusamus voluptatibus odit!</p>


        </div>
        <div class="col-sm-6">
            <h5>Lorem ipsum dolor si amet</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Maiores explicabo numquam accusamus voluptatibus odit!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Maiores explicabo numquam accusamus voluptatibus odit!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Maiores explicabo numquam accusamus voluptatibus odit!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Maiores explicabo numquam accusamus voluptatibus odit!</p>

        </div>
        {% if user.is_anonymous %}
        <a class="btn mb20 btn-medium btn-primary" href="{% url 'register' %}">S'inscrire/Se connecter</a>
        {% endif %}
    </div>
</div>
{% endblock %}