{% extends 'main.html' %}
{% block contenu %}

<!--Sub Banner-->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <div class="col-md-10">
                <h2>Devenir partenaire</h2>
            </div>
        </div>
    </div>
</div>


<!--navbar-->
<div class="box-shadow-for-ui">
    <div class="uou-block-2b">
        <div class="container">
            <nav class="nav">
                <ul class="sf-menu">
                    {% if porteur == 1 %}
                    <li><a href="{% url 'devenirPartenaire' %}">Espace partenaire</a></li>
                    {% else %}
                    <li><a href="{% url 'devenirPartenaire' %}">Devenir partenaire</a></li>
                    {% endif %}
                    <li><a href="{% url 'chartePage' %}">Charte</a></li>
                    <li><a href="{% url 'commentInvestir' %}">Comment investir</a></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <h1 style="text-align: center">Devenez apporteur d'affaires</h1>

    <p style="text-align: center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto
        molestiae numquam laudantium vero doloremque neque quod id temporibus nemo nam itaque ratione.
    </p>

    <br>
    {% if user.is_anonymous %}
        <a style="margin-left: 38%"
           class="btn mb20 btn-large btn-primary"
           href="{% url 'register' %}">S'inscrire</a>
    {% elif porteur == 1 %}
        <a style="margin-left: 38%"
           class="btn mb20 btn-large btn-primary"
           href="{% url 'addProject' %}">Apporter un projet</a>
    {% else %}
        <a style="margin-left: 38%"
           class="btn mb20 btn-large btn-primary"
           href="{% url 'sabonner' %}">Devenir partenaire</a>
    {% endif %}

    <br>
    <h6>Lorem ipsum tederum salamus</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto
        molestiae numquam laudantium vero doloremque neque quod id temporibus nemo nam itaque ratione.</p>
</div>

{% endblock %}